<div class="campaign nav-card" data-campaign-id="Berlin-By-Night-Camarilla">
    <h2>Berlin By Night - Camarilla</h2>
    <p>Spieler:innen: Layla, Jule, Nipah, Daniel</p>
</div>
<div class="campaign nav-card" data-campaign-id="Berlin-By-Night-Anarchs">
    <h2>Berlin By Night - Anarchs</h2>
    <p>Spieler:innen: Layla, Jule, Nipah</p>
</div>
<div class="campaign nav-card" data-campaign-id="Turin-By-Night-Camarilla">
    <h2>Turin By Night - Camarilla</h2>
    <p>Spieler:innen: Layla, Jule, Nipah</p>
</div>