{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'vampire/head.html' %}
</head>
<body>
    <div class="container">
        <div style="text-align: center; color: #e0e0e0; max-width: 800px; margin: 0 auto;">
            <p style="font-style: italic; color: #b8b8d1;">
            {% if request.GET.campaign == "Berlin-By-Night-Camarilla" %}
                Esmée van de Velden
                <img src="{% static 'pictures/vampire/BBNC/Esmee.jpg' %}" height="50%" width="50%">
                <iframe src="{% static 'sheets/vampire/BBNC/Esmee.pdf' %}" height="600px" width="100%">
                </iframe>
                <img src="{% static 'pictures/vampire/BBNC/Kiara.png' %}" height="50%" width="50%">
                <iframe src="{% static 'sheets/vampire/BBNC/Kiara.pdf' %}" height="600px" width="100%">
                </iframe>
                <img src="{% static 'pictures/vampire/BBNC/Octavian.webp' %}" height="50%" width="50%">
                <iframe src="{% static 'sheets/vampire/BBNC/Octavian.pdf' %}" height="600px" width="100%">
                </iframe>
                <img src="{% static 'pictures/vampire/BBNC/Nicolae.webp' %}" height="50%" width="50%">
                <iframe src="{% static 'sheets/vampire/BBNC/Nicolae.pdf' %}" height="600px" width="100%">
                </iframe>
                <img src="{% static 'pictures/vampire/BBNC/Group.png' %}" height="50%" width="50%">
            {% endif %}

            {% if request.GET.campaign == "Berlin-By-Night-Anarchs" %}
                <img src="{% static 'pictures/vampire/BBNA/Celine.png' %}" height="50%" width="50%">
                <iframe src="{% static 'sheets/vampire/BBNA/Celine.pdf' %}" height="600px" width="100%">
                </iframe>
                <img src="{% static 'pictures/vampire/BBNA/Melanie.png' %}" height="50%" width="50%">
                <iframe src="{% static 'sheets/vampire/BBNA/Melanie.pdf' %}" height="600px" width="100%">
                </iframe>
                <img src="{% static 'pictures/vampire/BBNA/Rebecca.png' %}" height="50%" width="50%">
                <iframe src="{% static 'sheets/vampire/BBNA/Rebekkah.pdf' %}" height="600px" width="100%">
                </iframe>
                <img src="{% static 'pictures/vampire/BBNA/Group.png' %}" height="50%" width="50%">
            {% endif %}
            </p>
        </div>
    </div>
</body>
</html>
