{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'vampire/head.html' %}
</head>
<body>
    <div class="container">
        <div class="characters-container">
            {% if request.GET.campaign == "Berlin-By-Night-Camarilla" %}
            <div class="character-card">
                <h2>Esmée van de Velden</h2>
                <img src="{% static 'pictures/vampire/BBNC/Esmee.jpg' %}" class="character-portrait" alt="Esmée">
                <iframe src="{% static 'sheets/vampire/BBNC/Esmee.pdf' %}" class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Kiara Fink</h2>
                <img src="{% static 'pictures/vampire/BBNC/Kiara.png' %}" class="character-portrait" alt="Kiara">
                <iframe src="{% static 'sheets/vampire/BBNC/Kiara.pdf' %}" class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Octavian Manolas</h2>
                <img src="{% static 'pictures/vampire/BBNC/Octavian.webp' %}" class="character-portrait" alt="Octavian">
                <iframe src="{% static 'sheets/vampire/BBNC/Octavian.pdf' %}" class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Nicolae Dragulescu</h2>
                <img src="{% static 'pictures/vampire/BBNC/Nicolae.webp' %}" class="character-portrait" alt="Nicolae">
                <iframe src="{% static 'sheets/vampire/BBNC/Nicolae.pdf' %}" class="character-sheet"></iframe>
            </div>
            <img src="{% static 'pictures/vampire/BBNC/Group.png' %}" class="group-image" alt="Group">
            {% endif %}

            {% if request.GET.campaign == "Berlin-By-Night-Anarchs" %}
            <div class="character-card">
                <h2>Celine Senger</h2>
                <img src="{% static 'pictures/vampire/BBNA/Celine.png' %}" class="character-portrait" alt="Celine">
                <iframe src="{% static 'sheets/vampire/BBNA/Celine.pdf' %}" class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Melanie Tomko</h2>
                <img src="{% static 'pictures/vampire/BBNA/Melanie.png' %}" class="character-portrait" alt="Melanie">
                <iframe src="{% static 'sheets/vampire/BBNA/Melanie.pdf' %}" class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Rebecca</h2>
                <img src="{% static 'pictures/vampire/BBNA/Rebecca.png' %}" class="character-portrait" alt="Rebecca">
                <iframe src="{% static 'sheets/vampire/BBNA/Rebekkah.pdf' %}" class="character-sheet"></iframe>
            </div>
            <img src="{% static 'pictures/vampire/BBNA/Group.png' %}" class="group-image" alt="Group">
            {% endif %}

            {% if request.GET.campaign == "Turin-By-Night-Camarilla" %}
            <div class="character-card">
                <h2>Mirabella Giuffrieda</h2>
                <img src="{% static 'pictures/vampire/TBNC/Mirabella.webp' %}" class="character-portrait" alt="Mirabella_1">
                <img src="{% static 'pictures/vampire/TBNC/Mirabella_2.webp' %}" class="character-portrait" alt="Mirabella_2">
                <img src="{% static 'pictures/vampire/TBNC/Mirabella_3.webp' %}" class="character-portrait" alt="Mirabella_3">
                <iframe src="{% static 'sheets/vampire/TBNC/Mirabella.pdf' %}" class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Cosima Giordano</h2>
                <img src="{% static 'pictures/vampire/TBNC/Cosima.png' %}" class="character-portrait" alt="Cosima">
                <iframe src="{% static 'sheets/vampire/TBNC/Cosima.pdf' %}" class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Contessa Vittoria di Savoia</h2>
                <img src="{% static 'pictures/vampire/TBNC/Vittoria.jpg' %}" class="character-portrait" alt="Vittoria">
                <iframe src="{% static 'sheets/vampire/TBNC/Vittoria.pdf' %}" class="character-sheet"></iframe>
            </div>
            <img src="{% static 'pictures/vampire/TBNC/Group.png' %}" class="group-image" alt="Group">
            {% endif %}
        </div>
    </div>
</body>
</html>
