<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'vampire/head.html' %}
</head>
<body>
    <div class="container">
        <div style="max-width: 800px; margin: 0 auto;">
            {% if request.GET.campaign == "Berlin-By-Night-Camarilla" %}
            <div class="campaign-info">
                <h2>Berlin By Night - Camarilla</h2>
                <h3>Zusammenfassung</h3>
                <p>In dieser Kampagne kommen vier Camarilla-Vampire zusammen, um den Willen des Prinzen zu erfüllen, sich gegenseitig kennenzulernen, ihre Sire zu enttäuschen oder auch zu beglücken und Verschwörungen von dem Sabbath und der zweiten Inquisition aufzuspüren.</p>
                <h3>Sessions</h3>
                <p>14 gespielte Sessions</p>
                <h3>Status</h3>
                <p><span class="status beendet">Beendet</span></p>
                <h3>Charaktere</h3>
                <ul>
                    <li>Esmée van de Velden <span class="player-name">— gespielt von Layla</span></li>
                    <li>Kiara Fink <span class="player-name">— gespielt von Jule</span></li>
                    <li>Joanne Taylor <span class="player-name">— gespielt von Nipah</span></li>
                    <li>Nicolae Dragulescu <span class="player-name">— gespielt von Daniel</span></li>
                </ul>
            </div>
            {% endif %}
            {% if request.GET.campaign == "Berlin-By-Night-Anarchs" %}
            <div class="campaign-info">
                <h2>Berlin By Night - Anarchs</h2>
                <h3>Zusammenfassung</h3>
                <p>In diesem Spin-Off versuchen drei Anarch-Vampire sich in der, von der Camarilla bestimmten, Stadt zu behaupten. In dieser Zeit treffen sie auf neue Feinde, alte Freunde und erledigen wichtige Aufgaben für ihre Seite.</p>
                <h3>Sessions</h3>
                <p>6 gespielte Sessions</p>
                <h3>Status</h3>
                <p><span class="status beendet">Beendet</span></p>
                <h3>Charaktere</h3>
                <ul>
                    <li>Celine Senger <span class="player-name">— gespielt von Jule</span></li>
                    <li>Melanie Tomko <span class="player-name">— gespielt von Nipah</span></li>
                    <li>Rebecca <span class="player-name">— gespielt von Layla</span></li>
                </ul>
            </div>
            {% endif %}
            {% if request.GET.campaign == "Turin-By-Night-Camarilla" %}
            <div class="campaign-info">
                <h2>Turin By Night - Camarilla</h2>
                <h3>Zusammenfassung</h3>
                <p>TBA</p>
                <h3>Sessions</h3>
                <p>0 gespielte Sessions</p>
                <h3>Status</h3>
                <p><span class="status pausiert">In Planung</span></p>
                <h3>Charaktere</h3>
                <ul>
                    <li>Mirabella Giuffrieda <span class="player-name">— gespielt von Nipah</span></li>
                    <li>Cosima Giordano <span class="player-name">— gespielt von Jule</span></li>
                    <li>Contessa Vittoria di Savoia <span class="player-name">— gespielt von Layla</span></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
