<div class="campaign nav-card" data-campaign-id="Der-unermessliche-Zerfall">
    <h2>Der unermessliche Zerfall</h2>
    <p>Spieler:innen: Layla, Jule, Eti, Dito, Tice</p>
</div>
<div class="campaign nav-card" data-campaign-id="Das-Geheimnis-von-Dyadan">
    <h2>Das Geheimnis von Dyadan</h2>
    <p>Spieler:innen: Layla, Jule, Misaki, Orcjay, Bardehaus, Cozykoakuma/Foobuntu</p>
</div>
<div class="campaign nav-card" data-campaign-id="Unbekannte-Heimat">
    <h2>Unbekannte Heimat</h2>
    <p>Spieler:innen: Layla, Jule, Eti, Dito, Tice, Cozykoakuma</p>
</div>