<div class="campaign nav-card" data-campaign-id="zerfall">
    <h2>Der unermessliche Zerfall</h2>
    <p>Spieler:innen: Layla, Jule, Eti, Dito, Tice</p>
</div>
<div class="campaign nav-card" data-campaign-id="dyadan">
    <h2>Das Geheimnis von Dyadan</h2>
    <p>Spieler:innen: Layla, Jule, Misaki, Orcjay, Bardehaus, Cozykoakuma/Foobuntu</p>
</div>
<div class="campaign nav-card" data-campaign-id="heimat">
    <h2>Unbekannte Heimat</h2>
    <p>Spieler:innen: Layla, Jule, Eti, Dito, Tice, Cozykoakuma</p>
</div>