{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'dnd/head.html' %}
</head>
<body>
    <div class="container">
        <div class="characters-container">
            {% if request.GET.campaign == "Der-unermessliche-Zerfall" %}
            <div class="character-card">
                <h2>Cithara von der Vogelweide</h2>
                <img src="{% static 'pictures/dnd/der_unermessliche_zerfall/Cithara.png' %}"
                     class="character-portrait" alt="Cithara">
                <iframe src="{% static 'sheets/dnd/der_unermessliche_zerfall/Cithara.pdf' %}"
                        class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Morrigan Windblüte</h2>
                <img src="{% static 'pictures/dnd/der_unermessliche_zerfall/Morrigan.png' %}"
                     class="character-portrait" alt="Morrigan">
                <iframe src="{% static 'sheets/dnd/der_unermessliche_zerfall/Morrigan.pdf' %}"
                        class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Dith'orak Deeseng</h2>
                <img src="{% static "pictures/dnd/der_unermessliche_zerfall/Dith'orak.png" %}"
                     class="character-portrait" alt="Dith'orak">
                <iframe src="{% static "sheets/dnd/der_unermessliche_zerfall/Dith'orak.pdf" %}"
                        class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>S'Nur'Ahr</h2>
                <img src="{% static 'pictures/dnd/der_unermessliche_zerfall/SNurAhr.png' %}"
                     class="character-portrait" alt="S'Nur'Ahr">
                <iframe src="{% static "sheets/dnd/der_unermessliche_zerfall/S'Nur'Ahr.pdf" %}"
                        class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Etilos Lölicus von und zu Ticenstein</h2>
                <img src="{% static 'pictures/dnd/der_unermessliche_zerfall/Etilos.png' %}"
                     class="character-portrait" alt="Etilos">
                <iframe src="{% static "sheets/dnd/der_unermessliche_zerfall/Etilos.pdf" %}"
                        class="character-sheet"></iframe>
            </div>
            {% endif %}

            {% if request.GET.campaign == "Das-Geheimnis-von-Dyadan" %}
            <div class="character-card">
                <h2>Cithara von der Vogelweide</h2>
                <img src="{% static 'pictures/dnd/der_unermessliche_zerfall/Cithara.png' %}"
                     class="character-portrait" alt="Cithara">
                <iframe src="{% static 'sheets/dnd/der_unermessliche_zerfall/Cithara.pdf' %}"
                        class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Morrigan Windblüte</h2>
                <img src="{% static 'pictures/dnd/der_unermessliche_zerfall/Morrigan.png' %}"
                     class="character-portrait" alt="Morrigan">
                <iframe src="{% static 'sheets/dnd/der_unermessliche_zerfall/Morrigan.pdf' %}"
                        class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Sneeks</h2>
                <img src="{% static "pictures/dnd/das_geheimnis_von_dyadan/Sneeks.png" %}"
                     class="character-portrait" alt="Sneeks">
            </div>
            <div class="character-card">
                <h2>Chronofell</h2>
                <img src="{% static 'pictures/dnd/das_geheimnis_von_dyadan/Chronofell.png' %}"
                     class="character-portrait" alt="Chronofell">
            </div>
            <div class="character-card">
                <h2>Brombur Klauth</h2>
                <img src="{% static 'pictures/dnd/das_geheimnis_von_dyadan/Brombur_Klauth.png' %}"
                     class="character-portrait" alt="Brombur Klauth">
            </div>
            <div class="character-card">
                <h2>Gwairan</h2>
                <img src="{% static 'pictures/dnd/das_geheimnis_von_dyadan/Gwairan.png' %}"
                     class="character-portrait" alt="Gwairan">
            </div>
            <div class="character-card">
                <h2>Amelia Eisenherz</h2>
                <img src="{% static 'pictures/dnd/das_geheimnis_von_dyadan/Amelia_Eisenherz.webp' %}"
                     class="character-portrait" alt="Amelia Eisenherz">
            </div>
            <img src="{% static 'pictures/dnd/das_geheimnis_von_dyadan/cithara_und_morrigan.png' %}"
                 class="group-image" alt="Cithara und Morrigan">
            {% endif %}

            {% if request.GET.campaign == "Unbekannte-Heimat" %}
            <div class="character-card">
                <h2>Gino</h2>
                <img src="{% static 'pictures/dnd/unbekannte_heimat/gino.webp' %}"
                     class="character-portrait" alt="Gino">
                <iframe src="{% static 'sheets/dnd/unbekannte_heimat/Gino.pdf' %}" class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Isolde</h2>
                <img src="{% static 'pictures/dnd/unbekannte_heimat/isolde.webp' %}"
                     class="character-portrait" alt="Isolde">
                <img src="{% static 'pictures/dnd/unbekannte_heimat/isolde_young.png' %}"
                     class="character-portrait" alt="Isolde_Young">
                <iframe src="{% static 'sheets/dnd/unbekannte_heimat/Isolde.pdf' %}" class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Kimberlee Kupferschuppe</h2>
                <img src="{% static "pictures/dnd/unbekannte_heimat/kim.webp" %}"
                     class="character-portrait" alt="Kimberlee">
                <iframe src="{% static "sheets/dnd/unbekannte_heimat/Kim.pdf" %}" class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Ophelia Ula</h2>
                <img src="{% static 'pictures/dnd/unbekannte_heimat/aegis.webp' %}"
                     class="character-portrait" alt="Ophelia">
                <iframe src="{% static "sheets/dnd/unbekannte_heimat/Aegis.pdf" %}" class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Aegis</h2>
                <img src="{% static 'pictures/dnd/unbekannte_heimat/ophelia.webp' %}"
                     class="character-portrait" alt="Aegis">
                <iframe src="{% static "sheets/dnd/unbekannte_heimat/Ophelia.pdf" %}" class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Calypso Farrai</h2>
                <img src="{% static 'pictures/dnd/unbekannte_heimat/calypso.webp' %}"
                     class="character-portrait" alt="Calypso">
                <iframe src="{% static "sheets/dnd/unbekannte_heimat/Calypso.pdf" %}" class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Gruppenbild</h2>
                <img src="{% static 'pictures/dnd/unbekannte_heimat/group.png' %}"
                     class="character-portrait" alt="Gruppe">
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
