<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'dnd/head.html' %}
</head>
<body>
    <div class="container">
        <div style="text-align: center; color: #e0e0e0; max-width: 800px; margin: 0 auto;">
            {% if request.GET.campaign == "Der-unermessliche-Zerfall" %}
                Name der Kampagne: Der unermessliche Zerfall

                Zusammenfassung: In der Stadt Ajas Bastion, im Norden von Loreth, findet sich eine Gruppe von
                Abenteurern eines Abends in einer Taverne zusammen. Gemeinsam lösen sie das Rätsel um eine
                geheimnisvolle Droge, die Personen in traumähnliche Zustände versetzt.

                Anzahl der gespielten Sessions: 11

                Status: Beendet

                Charaktere:
                Cithara von der Vogelweide, gespielt von Layla
                Morrigan Windblüte, gespielt von Jule
                Dith'orak Deeseng, gespielt von Dito
                S'Nur'Ahr, gespielt von Etilane
                Etilos Lölicus von und zu Ticenstein, gespielt von Tice

                Wenn du das Passwort hast, um auf die Sessions zuzugreifen, kannst du das
                <a href="{% url 'dnd_sessions' %}">hier</a> tun.

                Weitere Informationen zu der Welt Nirada, in der die Kampagne spielt, bekommst du
                <a href="{% url 'dnd_lore' %}">hier</a>.
            {% endif %}
            {% if request.GET.campaign == "Das-Geheimnis-von-Dyadan" %}
                Name der Kampagne: Das Geheimnis von Dyadan

                Zusammenfassung: Im Wald Dyadan, im süd-westlichen Teil von Loreth, treffen sich sehr verschiedene
                Personen, die gemeinsam ein Abenteuer erleben. Von einem Ork-Stamm über einen Adligen bis
                zu einem Erz-Fey manövrieren sie sich in die eigenartigsten Situationen.

                Anzahl der gespielten Sessions: 9

                Status: Beendet

                Charaktere:
                Cithara von der Vogelweide, gespielt von Layla
                Morrigan Windblüte, gespielt von Jule
                Sneeks, gespielt von Orcjay
                Chronofell, gespielt von Misaki
                Brombur Klauth, gespielt von Bardehaus
                Gwairan (bis Session 5), gespielt von Foobuntu / Amelia Eisenherz (ab Session 6), gespielt von CozyKoakuma

                Wenn du das Passwort hast, um auf die Sessions zuzugreifen, kannst du das
                <a href="{% url 'dnd_sessions' %}">hier</a> tun.

                Weitere Informationen zu der Welt Nirada, in der die Kampagne spielt, bekommst du
                <a href="{% url 'dnd_lore' %}">hier</a>.
            {% endif %}
            {% if request.GET.campaign == "Unbekannte-Heimat" %}
                Name der Kampagne: Unbekannte Heimat

                Zusammenfassung: Südlich des Kontinents, auf einem Schiff im Adamo-Archipel, segeln die Abenteurer als
                verkappte Piratencrew von Insel zu Insel und entdecken allerlei verschiedene Kulturen,
                Personen und lösen die unterschiedlichsten Rätsel.

                Anzahl der gespielten Sessions: 27

                Status: Pausiert

                Charaktere:
                Gino, gespielt von Dito
                Isolde, gespielt von Etilane
                Kimberlee Kupferschuppe, gespielt von Layla
                Ophelia Ula, gespielt von CozyKoakuma
                Aegis, gespielt von Jule
                Calypso Farrai, gespielt von Tice

                Wenn du das Passwort hast, um auf die Sessions zuzugreifen, kannst du das
                <a href="{% url 'dnd_sessions' %}">hier</a> tun.

                Weitere Informationen zu der Welt Nirada, in der die Kampagne spielt, bekommst du
                <a href="{% url 'dnd_lore' %}">hier</a>.
            {% endif %}
        </div>
    </div>
</body>
</html>
