{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'daggerheart/head.html' %}
</head>
<body>
    <div class="container">
        <div class="characters-container">
            {% if request.GET.campaign == "Kinder-des-Schleiers" %}
            <div class="character-card">
                <h2>Ancey</h2>
                <img src="{% static 'pictures/daggerheart/Kinder_des_Schleiers/Ancey.webp' %}" class="character-portrait" alt="Ancey">
                <img src="{% static 'sheets/daggerheart/Kinder_des_Schleiers/Ancey_Sheet.jpg' %}" class="character-sheet-img" alt="Ancey Sheet">
            </div>
            <div class="character-card">
                <h2>Anhedonia</h2>
                <img src="{% static 'pictures/daggerheart/Kinder_des_Schleiers/Anhedonia.webp' %}" class="character-portrait" alt="Anhedonia">
                <img src="{% static 'sheets/daggerheart/Kinder_des_Schleiers/Anhedonia_Sheet.jpg' %}" class="character-sheet-img" alt="Anhedonia Sheet">
            </div>
            <div class="character-card">
                <h2>Jav</h2>
                <img src="{% static "pictures/daggerheart/Kinder_des_Schleiers/Jav.png" %}" class="character-portrait" alt="Jav">
                <img src="{% static "sheets/daggerheart/Kinder_des_Schleiers/Jav_Sheet.jpg" %}" class="character-sheet-img" alt="Jav Sheet">
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
