{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'kult/head.html' %}
</head>
<body>
    <div class="container">
        <div class="characters-container">
            {% if request.GET.campaign == "Ordo-Orbis-Dei" %}
            <div class="character-card">
                <h2>Joanne Taylor</h2>
                <img src="{% static 'pictures/kult/Ordo_Orbis_Dei/Joanne.png' %}" class="character-portrait" alt="Joanne">
                <iframe src="{% static 'sheets/kult/Ordo_Orbis_Dei/Joanne_Taylor.pdf' %}" class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Damian Crane</h2>
                <img src="{% static 'pictures/kult/Ordo_Orbis_Dei/Damian.jpg' %}" class="character-portrait" alt="Damian">
                <iframe src="{% static 'sheets/kult/Ordo_Orbis_Dei/Damian_Crane.pdf' %}" class="character-sheet"></iframe>
            </div>
            <div class="character-card">
                <h2>Harry McTannen</h2>
                <img src="{% static "pictures/kult/Ordo_Orbis_Dei/Harry.jpg" %}" class="character-portrait" alt="Harry">
                <iframe src="{% static "sheets/kult/Ordo_Orbis_Dei/Harry_McTannen.pdf" %}" class="character-sheet"></iframe>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
