{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'systems_head.html' %}
<body>
    <div class="container">
        {% include 'title_and_navbar.html' %}
        <div style="text-align: center; color: #e0e0e0; max-width: 800px; margin: 0 auto;">
            <div class="video-container">
                <p style="margin-bottom: 1rem;">{{ title }} - {{ request.GET.campaign }}</p>
                <iframe
                        width="560"
                        height="315"
                        src="{{ playlist_url }}"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                        picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
            </div>
            {% if transcript_url %}
            <div class="transcript-section">
                <label for="session-select">Wähle die Session für die du das Transkript herunterladen möchtest:</label>
                <select id="session-select" name="session">
                    {% for num in episode_range %}
                        <option value="{{ num }}">Session {{ num }}</option>
                    {% endfor %}
                </select>

                <br><br>

                <button id="download-btn">Download Transcript</button>
            </div>
            {% endif %}
        </div>
    </div>

<script>
    document.getElementById('download-btn').addEventListener('click', async function() {
        const sessionId = document.getElementById('session-select').value;
        if (sessionId) {
            const url = '{{ transcript_url }}'
                + sessionId
                + '.txt';

            try {
                const response = await fetch(url);
                const blob = await response.blob();
                const link = document.createElement('a');
                link.href = URL.createObjectURL(blob);
                link.download = '{{ request.GET.campaign }}' + sessionId + '.txt';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
                URL.revokeObjectURL(link.href);
            } catch (error) {
                alert('Error downloading file');
            }
        } else {
            alert('Bitte wähle zuerst eine Session');
        }
    });
</script>
</body>
</html>
