{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'systems_head.html' %}
<body>
    <div class="container">
        {% include 'title_and_navbar.html' %}
        <div class="lore-content">
            <div class="lore-section">
                <h2>Wiki</h2>
                <p>Entdecke das gesammelte Wissen über Orte, Charaktere, Fraktionen und mehr.</p>
                <div class="wiki-link-container">
                    {% if url_home == 'dnd_home' %}
                    <a href="{% url 'wiki:wiki_home' 'dnd' %}" class="wiki-link-button">Zum Wiki</a>
                    {% elif url_home == 'vampire_home' %}
                    <a href="{% url 'wiki:wiki_home' 'vampire' %}" class="wiki-link-button">Zum Wiki</a>
                    {% elif url_home == 'kult_home' %}
                    <a href="{% url 'wiki:wiki_home' 'kult' %}" class="wiki-link-button">Zum Wiki</a>
                    {% elif url_home == 'daggerheart_home' %}
                    <a href="{% url 'wiki:wiki_home' 'daggerheart' %}" class="wiki-link-button">Zum Wiki</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
