{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_title }}</title>
    <link rel="stylesheet" href="{% static stylesheet %}">
</head>
<body>
    <div class="container">
        {% include 'title_and_navbar.html' %}

        <div style="text-align: center; color: #e0e0e0; max-width: 800px; margin: 0 auto;">
                <p>{{ title }} - {{ request.GET.campaign }} - Session Playlist {{ forloop.counter }}</p>
                    <iframe
                            width="560"
                            height="315"
                            src="{{ playlist_url }}"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                            picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>

                    </iframe>
        </div>
    </div>
</body>
</html>
